.web-link {
  padding: 2rem 2rem 0.5rem;
  border: 0.3rem solid #676777;
  border-bottom: 0.6rem solid #7bffa0;
  width: 33rem;

  a {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    text-transform: capitalize;
    text-decoration: none;
    color: #676777;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;

    img {
      align-self: flex-end;
      height: 2rem;
    }
  }
  a:hover {
    color: #ffffff;
  }
}
