.description-heading-container {
  h2 {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin-top: 3.5rem;
    margin-bottom: 0rem;

    color: #f45353;
  }
}
