.description-paragrap-container {
  p {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 190%;
    margin-top: 1rem;
    /* or 34px */

    color: #ffffff;
  }
}
