// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-text: #fff;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-waves: #e4c5c5;
// $color-button: #9169ff;
$color-button: #ff5757;
$color-stroke: #9169ff;
$color-hover-fill: #9169ff;
$color-clicked-fill: #9169ff;
$color-black: #000;

// FONT
$default-font-size: 1.7rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

////////////////////////////@at-root

.btn {
  &,
  &:link,
  &:visited {
    transition: 1s;
    letter-spacing: 0.1rem;
    text-decoration: none;
    padding: 1.2rem 4rem;
    background: none;
    border: 0.4rem solid $color-stroke;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;
    cursor: pointer;
  }

  &:hover {
    background-color: $color-hover-fill;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-button;
    color: $color-text;

    &::after {
      background-color: $color-clicked-fill;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-waves;

    &::after {
      background-color: $color-primary;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 0.1rem solid $color-primary;
    padding: 0.3rem;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-waves;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-0.2rem);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
