.descripton-ul-container {
  ul {
    li {
      font-family: Comfortaa;
      font-style: normal;
      font-weight: bold;
      font-size: 1.7rem;
      line-height: 190%;
      margin-top: 1rem;
      color: #ffffff;
    }
  }
}
