.web-whole-container {
  background-color: #26284c;

  .web-container {
    width: 80%;
    margin: auto;
    height: 80rem;

    .web-headings {
      padding-top: 4rem;
    }

    .web-links-container {
      padding-top: 5rem;
      display: grid;
      grid-template-rows: repeat(3, 8rem);
      grid-template-columns: repeat(auto-fit, 26.4rem);
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 4.5rem;
      grid-column-gap: 4rem;
    }
  }
}
