.headings-container {
  padding-top: 14rem;

  a {
    color: #ffffff;
    text-decoration: none;
  }

  a:hover {
    color: #7bffa0;
    text-decoration: none;
    transition: color 0.3s ease-in-out 0s;
  }

  h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.15rem;
    margin-top: 0rem;
    color: #6f7086;
  }

  h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 3.8rem;
    line-height: 0rem;

    color: #ffffff;
  }
}
