.headings-container {
  h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 1.5px;
    padding-top: 100px;
    margin-top: 0px;
    color: #6f7086;
  }

  h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 0px;

    color: #ffffff;
  }
}
