.single-skill {
  display: flex;
  align-items: center;
  margin-right: 10px;
  .skill-sercal {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 4px;
  }

  h4 {
    font-family: "Comfortaa", cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ffffff;
  }
}
