.single-skill {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  .skill-sercal {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    margin-right: 0.4rem;
  }

  h4 {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #ffffff;
  }
}
