@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  background-color: #26284c;
}

::-webkit-scrollbar {
  width: 1.8rem;
}

::-webkit-scrollbar-track {
  border: 0.7rem solid #323e70;
  background: #232943;
  box-shadow: inset 0 0 0.25rem 0.2rem rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: #445597;
  border-radius: 1.5rem;
  border: #232943 solid 0.5rem;
}

@media (min-width: 100px) {
  html,
  body {
    font-size: 1.4px;
  }
}

@media (min-width: 200px) {
  html,
  body {
    font-size: 1.8px;
  }
}

@media (min-width: 300px) {
  html,
  body {
    font-size: 2.2px;
  }
}

@media (min-width: 400px) {
  html,
  body {
    font-size: 3px;
  }
}

@media (min-width: 500px) {
  html,
  body {
    font-size: 3.5px;
  }
}

@media (min-width: 600px) {
  html,
  body {
    font-size: 4.4px;
  }
}

@media (min-width: 700px) {
  html,
  body {
    font-size: 5.2px;
  }
}

@media (min-width: 800px) {
  html,
  body {
    font-size: 5px;
  }
}

@media (min-width: 900px) {
  html,
  body {
    font-size: 6px;
  }
}

@media (min-width: 1000px) {
  html,
  body {
    font-size: 7px;
  }
}

@media (min-width: 1100px) {
  html,
  body {
    font-size: 7.5px;
  }
}
@media (min-width: 1200px) {
  html,
  body {
    font-size: 8px;
  }
}

@media (min-width: 1366px) {
  html,
  body {
    font-size: 9px;
  }
}

@media (min-width: 1400px) {
  html,
  body {
    font-size: 10px;
  }
}

@media (min-width: 1600px) {
  html,
  body {
    font-size: 10.5px;
  }
}

@media (min-width: 1700px) {
  html,
  body {
    font-size: 11.2px;
  }
}

@media (min-width: 1750px) {
  html,
  body {
    font-size: 11px;
  }
}

@media (min-width: 1800px) {
  html,
  body {
    font-size: 12px;
  }
}

@media (min-width: 1750px) {
  html,
  body {
    font-size: 12px;
  }
}

@media (min-width: 1950px) {
  html,
  body {
    font-size: 13.5px;
  }
}

@media (min-width: 2050px) {
  html,
  body {
    font-size: 18px;
  }
}

@media (min-width: 2100px) {
  html,
  body {
    font-size: 18px;
  }
}

@media (min-width: 2150px) {
  html,
  body {
    font-size: 18px;
  }
}

@media (min-width: 2200px) {
  html,
  body {
    font-size: 18px;
  }
}

@media (min-width: 2250px) {
  html,
  body {
    font-size: 18px;
  }
}

@media (min-width: 3840px) {
  html,
  body {
    font-size: 27px;
  }
}

@media (min-width: 4840px) {
  html,
  body {
    font-size: 36px;
  }
}
