.react-tabs {
  -webkit-tap-highlight-color: transparent; // Problem
  overflow: hidden;

  &__tab-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 1rem;
    width: 15%; ////// tob1
  }

  &__tab--selected {
    padding: 0rem;
    margin: 0rem;
  }

  &__tab-panel {
    .react-tabs {
      display: flex;
      // width: 106.5rem;
      justify-content: space-between;

      .react-tabs__tab-list {
        width: 35rem; /// tab2
        padding-right: 1rem;
      }
    }
  }

  &__tab {
    display: inline-block;
    border: 0.1rem solid transparent;
    border-bottom: none;
    bottom: -0.1rem;
    position: relative;
    list-style: none;
    cursor: pointer;

    &--selected {
      border: #f45353 0.4rem solid;
      color: black;
      border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
      padding: 0rem;
      margin: 0rem;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 0.5rem hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: '';
        position: absolute;
        height: 0.5rem;
        left: -0.4rem;
        right: -0.4rem;
        bottom: -0.5rem;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }
  }
}
