.contact-whole-container {
  background-color: #26284c;
  .contact-container {
    width: 80%;
    margin: auto;

    .contact-info {
      display: flex;

      .email-text {
        color: #7bffa0;
        text-decoration: none;
        transition: color 0.2s ease-in-out 0s;
      }
      .contact-phone {
        padding-left: 24rem;
      }
    }
  }
}
